@page "/Teacher/Courses/{Id}"
@layout TeacherMainLayout
@inject ICourseServices CoursesServices
@inject IReviewServices ReviewServices
@inject ILocalStorageService LocalStore
@inject IDialogService DialogService
@inject IConfiguration Configuration
@inject NavigationManager NavigationManager


@if (course is not null)
{
    <div class="main-div">
        <div>
            <FluentCard b-g30bwf6led Width="100%" Height="40%px" Class="course-card">
                <img src="@($"{backendUrl}{@course.ImageUrl}")" alt="Course Image">
                <h4>@course.Title</h4>
                <h5>@course.Price$</h5>
                @for (int i = 1; i <= 5; i++)
                {
                    if (i <= course.ReviewsAverge)
                    {
                        <FluentIcon Value="@(new Icons.Filled.Size20.Star())" Color="Color.Warning" />
                    }
                    else
                    {
                        <FluentIcon Value="@(new Icons.Regular.Size20.Star())" Color="Color.Warning" />
                    }
                }
                <h4 class="rateP">@course.ReviewsAverge</h4>
                <h6>From: @course.TeacherName</h6>
                <p>@course.Description</p>
            </FluentCard>
        </div>
        <div>
            @foreach (var review in reviews)
            {
                <FluentCard b-g30bwf6led Width="100%" Height="85px" Class="comment-card">
                    <h5 class="name-header">@review.StudentName</h5>
                    @for (int i = 1; i <= 5; i++)
                    {
                        if (i <= review.Evalution)
                        {
                            <FluentIcon Value="@(new Icons.Filled.Size20.Star())" Color="Color.Warning" />
                        }
                        else
                        {
                            <FluentIcon Value="@(new Icons.Regular.Size20.Star())" Color="Color.Warning" />
                        }
                    }
                    <p>@review.Comment</p>
                </FluentCard>
            }
        </div>
    </div>
}