@page "/Admin/Teachers"
@inject ITeacherServices _teacherServices
@inject ILocalStorageService _localStore
@inject IDialogService DialogService
@inject NavigationManager _navigationManager
<h3>Teachers</h3>

<FluentDataGrid Id="TeacherTable" Items="@Teachers" TGridItem="Teacher">
    <PropertyColumn Title="Full Name" Property="@(t => t.FullName)"></PropertyColumn>
    <PropertyColumn Title="Email" Property="@(t => t.Email)"></PropertyColumn>
    <TemplateColumn Title="Actions" Align="@Align.End">
        <FluentButton aria-label="Get item" IconEnd="@(new Icons.Regular.Size20.CardUi())" OnClick="@(() => GetAsync(context))" />
        <FluentButton aria-label="Delete item" IconEnd="@(new Icons.Regular.Size20.Delete().WithColor(Color.Error))" OnClick="@(() => DeleteAsync(context))" />
    </TemplateColumn>
</FluentDataGrid>


