@page "/Admin/Users"
@inject IUserServices UserServices
@inject ILocalStorageService _localStore
@inject IDialogService DialogService
@inject NavigationManager _navigationManager

<FluentDataGrid Items="@users" ResizableColumns=true Style="height: 405px;overflow:auto;">
    <PropertyColumn Property="@(c => c.UserName)" Sortable="true" Tooltip="true" Title="User Name" />
    <PropertyColumn Property="@(c => c.Email)" Sortable="true" Align="Align.Start" Tooltip="true" />
    <TemplateColumn Title="Actions" Align="@Align.End">
        <FluentButton aria-label="Delete item" IconEnd="@(new Icons.Regular.Size20.Delete().WithColor(Color.Error))" OnClick="@(() => DeleteAsync(context))" />
    </TemplateColumn>
</FluentDataGrid>

<div>
    <FluentButton IconEnd="@(new Icons.Regular.Size20.ArrowLeft().WithColor(Color.Accent))" Class="table-pagination-btn" OnClick="GoBackAsync"></FluentButton>
    <FluentButton Class="table-pagination-btn">@currentPage</FluentButton>
    <FluentButton IconEnd="@(new Icons.Regular.Size20.ArrowRight().WithColor(Color.Accent))" Class="table-pagination-btn" OnClick="GoNextAsync"></FluentButton>
</div>